*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: kanit;
}
@page {
    size:  auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}


:root{
    --delft-blue: rgb(77, 101, 170);
    --ash-gray: #a0b2a6ff;
    --citrine: #f3de2cff;
    --vermilion: #ef3e36ff;
    --hunter-green: #345830ff;
    
}
body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
    margin: 0 auto;
    background-color: white;
}
header{
    margin: 0 auto;
    background-color: white;
}
header > h1{
    text-transform: uppercase;
    text-align: center;
    background-color: var(--vermilion);
    font-size: 20pt;
}
#info > p {
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--ash-gray);
}
#info > input{
    width: 45vw;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;    
}
#info{
    text-align: center;
}
main > h2 {
    text-transform: uppercase;
    text-align: center;
    background-color: var(--vermilion);
    font-size: 20pt;
    margin-top: 5px;
}
table{
   margin: 0 auto;
   border-collapse: collapse;
   border: 2px solid black;
   margin-top: 20px;
   width: 95vw;
}
td{
    text-align: center;
    border:0;
}
td > .inputab{
    width: 20vw;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
td > .ref{
    font-size: 8pt;
    text-align: justify;

}
tr{
    width: 100vw;
    padding: 20px;
}
th{
    text-transform: uppercase;
    text-decoration: underline;
    padding-left: 20px;
}
#buttonimp{
   display: block;
   margin: 0 auto;
   margin-top: 20px;
}
.ref{
    padding: 10px;
}
.linha1{
    background-color: var(--ash-gray)
}
.linha2{
    background-color:white;
}