*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: kanit;
}
:root{
    --delft-blue: rgb(77, 101, 170);
    --ash-gray: #a0b2a6ff;
    --citrine: #f3de2cff;
    --vermilion: #ef3e36ff;
    --hunter-green: #345830ff;
    
}
body{
    margin: 0 auto;
    background-color: var(--ash-gray);
}
header{
    margin: 0 auto;
    background-color: white;
}
header > h1{
    text-transform: uppercase;
    text-align: center;
    background-color: var(--vermilion);
    font-size: 20pt;
}
#info > p {
    padding: 2px;
    text-align: center;
    color: var(--hunter-green);
    text-transform: uppercase;
    background-color: var(--ash-gray);
}
#info > input{
    width: 45vw;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;    
}
#info{
    text-align: center;
}
main > h2 {
    text-transform: uppercase;
    text-align: center;
    background-color: var(--vermilion);
    font-size: 20pt;
    margin-top: 5px;
}
table{
    margin-top: 10px;
    margin-left: 10px;
    width: 0 auto;
}
td{
    text-align: center;
}
td > .inputab{
    width: 20vw;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
td > .ref{
    font-size: 8pt;
    text-align: justify;

}
tr{
    width: 100vw;

}
th{
    text-transform: uppercase;
    text-decoration: underline;
}